.footer{
	height: 100%;
	width: 100%;
	background-color: var(--navy);
}
.footer .foot1{
	max-width: 25rem;
	width: 100%;
	text-align: center;
	padding: 1rem 0.5rem;
	position: relative;
	float: left;
}
.footer .foot1 a{
	text-decoration: none;
	color: var(--winter);
	padding-left: 1rem;
    font-size: 1.3rem;
	top: 10%;
}
.footer .credit{
	color: var(--winter);
	font-size: 1.3rem;
	padding: 1rem 0rem;
}
.footer .credit p{
	position: relative;
	padding-left: 2rem;
}

@media screen and (max-width:700px){
	.footer{
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas: 
		"links"
		"credits";
		grid-row-gap: .5rem;
		justify-items: center;
	}
	.footer .foot1{
		grid-area: links;
	}
	.footer .credit{
		grid-area: credits;
	}
}