@import "features.css";
@import "about.css";
@import "developers.css";
@import "contact.css";
@import "footer.css";
:root{
    --navy: #06283D;
    --blue: #256D85;
    --cold: #47B5FF;
    --winter: #DFF6FF;
    --gradient: linear-gradient(90deg, var(--navy), var(--cold));
    --transparent:  #d1d1d126;
}
*{
    padding:0;
    margin:0;
}
html{
    scroll-behavior: smooth;
}
.main-div{
    width:100%;
    height:100%;
    min-width: 250px;
}
.main-div header{
    width: 100%;
    height:100px;
    background-color: white;
    box-shadow: 0px 2px 10px rgb(135, 135, 135);
    position:fixed;
    justify-content: space-around;
    display: flex;
    min-width: 500px;
    z-index: 1000;
}
.main-div header img{
    border-radius:50px;
    width: 75px;
    height:75px;
    position:relative;
    top:10%;
    right:5%;
}
.main-div header h1{
    position:absolute;
    top:25%;
    left:17%;
    font-size: 2.6rem;
}
.main-div header span{
    color: var(--blue);
}
.main-div header a{
    text-decoration: none;
    color:var(--navy);
    font-size: 1.6rem;
    position:relative;
    top:35%;
    left:15%;
    padding-left: 1rem;
}
.home{
    width:100%;
    height:100vh;
    max-height: 1350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	padding-top: 5.9rem;
    background: url('/images/bg1-new.png')no-repeat center center/cover;
}
.home .left{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	padding-left:1rem;
	max-height: 820px;
}
.home .left h1{
    font-size: 3.2rem;
	font-weight: 550;
	margin-bottom: 2.5rem;
	line-height: 5rem;
	word-break: break-word;
}
.home .left h1 span{
    color:var(--cold)
}
.home .left p{
	font-size: 1.2rem;
	color: gray;
	max-width: 600px;
    text-align: justify;
}
.home .left a{
	margin-top: 1.5rem;
	text-decoration: none;
	background: var(--gradient);
	color: #ffff;
	padding: .9rem 2.3rem;
	border-radius: 2rem;
}
.home .right img{
	max-height: 35rem;
	max-width: 35rem;
    position: relative;
    top:2%;
    left:25%;
	animation: app .8s linear alternate infinite;
    box-shadow: 5px 10px 18px #888888;
    border-radius: 2rem;
}

@keyframes app{
    0%{}
	100%{
		transform:translateY(15px);
	}
}

@media screen and (max-width:1000px){
    .main-div header {
        height: 75px;
    }
    .main-div header img{
        width: 50px;
        height:50px;
        top:20%;
    }
    .main-div header h1{
        left:15%;
        font-size: 2rem;
    }
    .main-div header a{
        font-size: 1.3rem;
        left:15%;
        padding-left: 1rem;
    }
    
}
@media screen and (max-width:800px){
    .main-div header {
        height: 50px;
    }
    .main-div header img{
        width: 25px;
        height:25px;
        top:25%;
    }
    .main-div header h1{
        left:15%;
        font-size: 1rem;
        top:30%;
    }
    .main-div header a{
        font-size: 1rem;
        left:10%;
        padding-left: 0.5rem;
    }
    
}


@media screen and (max-width: 1000px){
	.home{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, auto-fill);
		grid-template-areas: 
		"image"
		"content";
		height: 100%;
		padding-bottom: 1rem;
	}
	.home .left{
		grid-area: content;
		justify-content: unset;
		
	}
	.home .right{
		grid-area: image;
        margin: auto;
	}
	.home .right img{
        max-height: 20rem;
        max-width: 20rem;
	}
}
@media screen and (max-width:800px){
    .home{
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, auto-fill);
		grid-template-areas: 
		"image"
		"content";
		height: 100%;
		padding-bottom: 1rem;
	}
    .home .right img{
        max-height: 15rem;
        max-width: 15rem;
	}
}
@media screen and (max-width: 800px){
	.home{
		height: 100%;
	}
	.home .left h1{
		font-size: 2.5rem;
		word-break: break-word;
	}
	.home .left a{
		padding: .5rem 1rem;
		margin-top: .7rem;
	}
}